<meta charset="UTF-8">
<title>Steven Weber | Photography</title>

<meta charset="utf-8">
<title>Fokussimus | Foto blog</title>

<!-- Material Design Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Bootstrap -->
<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/bootstrap-grid.min.css" rel="stylesheet">
<link href="/stylesheets/bootstrap-grid.css" rel="stylesheet">
<link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
<link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">

<!-- Own Style -->
<link href="/stylesheets/style.css" rel="stylesheet">

<style>
	img { max-width: 100%; max-height: 100%;}
</style>