body {
  padding-bottom: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  margin-bottom: 20px;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #0085A1;
}

h2 {
  color: #212529
}

.form-control {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.material-icons.md-18 { font-size: 18px; }
