<!DOCTYPE html>
<html lang="en">
<body class="container">
	<form action="addPost" method="POST">
		<table>
			<tr>
				<td>Title</td>
				<td><textarea name="title"></textarea></td>
			</tr>
			<tr>
				<td>Date</td>
				<td><input type="date" name="created" ></input></td>
			</tr>
			<tr>
				<td>Summary</td>
				<td><textarea name="summary"></textarea></td>
			</tr>
			<tr>
				<td>Post</td>
				<td><textarea name="content"></textarea></td>
			</tr>
		</table>
		<input type="submit" value="Add Post" />
	</form>
</body>
</html>