<%  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <form>
        <input name="title" type="text" placeholder="Title?" />
        <%
             var simplemde = new SimpleMDE();
        %>
        <button type="submit" class="btn">Submit</button>
    </form>

</body>

</html>