<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <form method="post" action="/fileupload" enctype="multipart/form-data">
        <input type="text" name="name">
        <input type="file" name="upload">
        <input type="submit" value="Upload">
    </form>
</body>
</html>