<!-- views/pad.ejs -->
<!-- https://scotch.io/tutorials/building-a-real-time-markdown-viewer-->
<!DOCTYPE html>
<html>

<head>
    <title>Neuer Artikel</title>
    <% include ../partials/head %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>

<body>
    <% if(post != 'undefinied') { 
        var title = post.title;
        var content = post.content;
        var summary = post.summary;
        var title_img = post.title_img;
    }
    %>
        <% include ../partials/authorsHeader %>
            <div class="container">
                <form action="" method="POST">
                    <div class="form-group">
                        <h2 class="col-2" for="title">Titel</h2>
                        <div class="col-12">
                            <input type="text" class="form-control" name="title" rows="1" id="title" value="<%= title %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <h2 class="col-2" for="summary">Zusammenfassung</h2>
                        <div class="col-12">
                            <!-- <input type="text" class="form-control" name="summary" rows="5" id="summary" value="<%= summary %>"> -->
                            <textarea id="summary" name="summary"></textarea>
                        </div>
                        <script>var simplemde = new SimpleMDE({
                                element: document.getElementById("summary"),
                                spellChecker: false,
                                showIcons: ["link", "bold","italic", "preview"],
                                hideIcons: ["strikethrough", "separator-1", "heading", "quote", "ordered-list", "unordered-list", "image", "table"]
                            });</script>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <h2 class="col-4" for="date-input">Datum</h2>
                            <div class="col-8">
                                <input class="form-control" type="date" value="Veröffentlichung" name="created" id="date-input">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <h2 class="col-4" for="inlineFormCustomSelect">Autor</h2>
                            <select class="custom-select col-8" name="author" id="inlineFormCustomSelect">
                                <option value="1">Steven Weber</option>
                                <option value="2">Michael Wolf</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <h2 class="col-4" for="title_img">Titelbild</h2>
                            <!-- <input type="text" class="form-control" name="title_img" rows="1" id="title_img" /> -->
                            <div class="col-4">
                                <input type="file" class="form-control-file" name="title_img" id="exampleFormControlFile1" value="<%= title_img %>">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                            <h2 for="pad">Artikel</h2>
                            <!-- <section class="row" style="height: 500px;">
                    <textarea class="col-md-6 full-height" name="content" id="pad">Write your text here..</textarea>
                    <div class="col-md-6 full-height" name="content" id="markdown"></div>
                </section>
                <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
                <script src="javascripts/script.js"></script> -->
                            <textarea id="MyID" name="content"></textarea>
                        </div>
                        <script>var simplemde = new SimpleMDE({ element: document.getElementById("MyID"), spellChecker: false });</script>
                    </div>
                    <div class="col-12">
                        <section class="row">
                            <input type="submit" value="Submit" />
                        </section>
                    </div>
                </form>
            </div>

</body>

</html>